@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(204, 204, 204);
    font: normal 18pt Arial;
}

h1 {
    color: rgb(131, 131, 131);
    text-align: center;
}

.divider {
    border-bottom: solid 2px black;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.currentDate {
    display: flex;
    justify-content: center;
    position: relative;
    left: -150px;
    top: 100px;
    color: rgb(75, 75, 75);
    font-size: 17px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    margin-top: 100px;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-task {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.add-task input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
}

.add-task i {
    width: 10px;
    cursor: pointer;
    transition: .2s;
}

.add-task i:hover {
    color: #3c5274;
    transform: scale(1.1);
}


button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #102f5e;
    color: #fff;
}

button:hover > i {
    color: #fdfdfd;
}

button i {
    color: #102f5e;
    font-weight: bold;
}

.content {
    display: flex;
    margin: 20px;
}

.content input{
    border-radius: 20px;
    font-size: 1.0rem;
}

.task-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tasks h3 {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
}

.tasks button {
    margin-left: 0.4rem;
}

.tasks {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
    border-radius: 10px;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}

#icon{
    pointer-events: none;
}


.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-container {
    position: fixed; 
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    z-index: 1000;
}


.popup-container h3 {
    color: rgb(131, 131, 131);
    font-size: 36px;
    margin-bottom: 40px;
}

.dificult {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.dificult select {
    width: 130px;
    border-radius: 5px;
    color: #021229;
    border: solid 1px #021229;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

#taskDate {
    color: #021229;
    border-radius: 5px;
    border: solid 1px #021229;
}

.confirm-btn {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


.difficulty-badge {
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


.difficulty-easy {
    color: green;
}

.difficulty-medium {
    color: orange;
}

.difficulty-hard {
    color: red;
}


.date-badge {
    font-size: 12px;
    font-weight: normal;
}
